includes:
  - vendor/larastan/larastan/extension.neon

parameters:
  tmpDir: /tmp/phpstan

  paths:
    - app
    - config
    - bootstrap
    - database/factories
    - routes

  level: 8

  reportUnmatchedIgnoredErrors: true
